<section class="flex-column align-center justify-center big-padding-y">
  <div class="container flex-column align-center justify-center">
    <h3 class="big-margin-y title-commits">
      ¿Qué opinan los clientes de nuestros Planes Postpago?
    </h3>
    <div class="flex-wrap align-center justify-center pattern-commits">
      <div class="flex-row align-center justify-center item-commit">
        <div class="flex-column align-center justify-center">
          <h5>Margarita Martinez</h5>
          <sub> Tiene un plan Internet Hogar Fibra Óptica 600 Megas </sub>
        </div>
        <div class="image-user">
          <img src="/assets/images/client-image.png" alt="cliente 1" />
        </div>
        <div>
          <article>
            Estos meses de cuarentena le hemos sacado el jugo al internet. En la
            casa estamos todos trabajando y estudiando a distancia a la misma
            hora.
            <br /><br />Sí, cambiarme a Movistar fue la mejor decisión
          </article>
        </div>
      </div>

      <div class="flex-row align-center justify-center item-commit">
        <div class="flex-column align-center justify-center">
          <h5>Fernando Bustos</h5>
          <sub> Tiene un plan Internet Hogar Fibra Óptica 400 Megas </sub>
        </div>
        <div class="image-user">
          <img src="/assets/images/clients-image.png" alt="cliente 1" />
        </div>
        <div>
          <article>
            Esto de la Fibra Óptica te cambia la vida. El no tener que esperar
            que carguen los videos es algo tan simple pero tan genial, que se
            valora mucho.
            <br /><br />
            El sencillo hecho de olvidarme del internet o de las horas de baja
            velocidad, es algo que agradezco.
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
