.section-plans {
  margin: 50px 0 50px;
  .mat-mdc-card {
    width: 100%;
    overflow: hidden;
  }
  app-plan {
    width: 100%;
    @media (min-width: 992px) {
      flex: auto;
    }
    text-align: center;
    & * {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
  }

}

.btn-type-plan {
  border-radius: 10px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.content-btn-plans button {
  flex: auto;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.mat-mdc-card-content {
  padding: 0 12px;
}

.mat-mdc-card-content:first-child {
  padding-top: 11px;
}
.mat-mdc-card-content:last-child {
  padding-bottom: 10px;
}
.chip-active {
  position: absolute;
  margin-top: -20px;
  mat-chip-option {
    background-color: #a13ea1;
    font-size: 0.8rem;
    div {
      mat-icon {
        font-size: 0.9rem;
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
      color: #fff;
    }
  }
}

.title-planes {
  font-size: 1.8rem;
  font-weight: lighter;
}
.pattern-items {
  align-items: stretch;
}
.item-plan {
  max-width: 220px;
  p {
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 5px 0 0 0 !important;
  }
}

.content-primary-planes,
.content-primary-planes .content-btn-plans {
  @media (max-width: 991px) {
    display: block;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    button {
      &:first-child{
        margin: 0 8px 0 0 !important
      }
      margin: 0 8px !important
    }
  }
}

section{
  @media(max-width:991px){
    width: 90%;
    margin:auto
  }
}
