<section
  class="principal-banner flex-column align-center justify-center text-center bg-banner-prim"
  [style.background-image]="'url(' + bgImageVariable + ')'"
>
  <article>
    <h1>¡Conoce la fibra óptica de Movistar!</h1>
    <h2>
      <sub
        >Si ya eres Movistar, <b>migra SIN COSTO</b> manteniendo tu plan
        actual.</sub
      >
    </h2>
  </article>
  <div class="text-animated flex-wrap">
    <div class="flex-column">
      <span class="subtitle-h3">Ahorra</span>
      <img class="tipe-money" src="/assets/images/soles.png" />
    </div>
    <img class="money" src="/assets/images/40-soles.png" />
    <div>
      <p>x <b>2 meses</b></p>
      <p><sub>En planes desde 70Mbps</sub></p>
    </div>
  </div>
</section>
<br />
<section class="align-center justify-center cobertura-item">
  <div class="container align-center justify-center">
    <mat-card class="rounded-shadow">
      <mat-card-content class="align-center justify-center">
        <div class="flex-wrap align-center justify-center mediumGap">
          <div class="content-img">
            <img
              src="assets/images/map-illustration.png"
              alt="consultar cobertura"
            />
          </div>
          <article>
            <h3>
              <b>¡Hazlo fácil!</b> Consulta tu cobertura y descubre las ofertas
              que tenemos para ti
            </h3>
            <sub>*Aplica en localidades seleccionadas</sub>
          </article>
          <a mat-fab extended>Consultar cobertura</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
