<section class="d-flex align-center justify-center big-padding-y bg-second">
  <div class="container flex-column justify-center big-padding-y">
    <h3 class="text-center medium-margin-y">¿Por qué elegir Fibra óptica para mi hogar?</h3>
    <div class="flex-wrap pattern-banner">
      <div
        class="flex-wrap mediumGap justify-center pattern-left big-padding-y" style="box-sizing: border-box;"
      >
        <div
          class="flex-wrap justify-center align-center rounded-shadow small-padding-x medium-padding-y item-banner-opt"
        >
          <img src="assets/images/downloads-illustration.png" alt="downloads" />
          <b>Descarga y sube archivos más rápido</b>
        </div>
        <div
          class="flex-wrap justify-center align-center rounded-shadow small-padding-x medium-padding-y item-banner-opt"
        >
          <img src="assets/images/play-icon.png" alt="play" />
          <b>Juega online sin interrupciones</b>
        </div>
        <div
          class="flex-wrap justify-center align-center rounded-shadow small-padding-x medium-padding-y item-banner-opt"
        >
          <img src="assets/images/bicycle-illustration.png" alt="bicycle" />
          <b>Mira tus series y videos sin pausas</b>
        </div>
        <div
          class="flex-wrap justify-center align-center rounded-shadow small-padding-x medium-padding-y item-banner-opt"
        >
          <img src="assets/images/calls-illustration.png" alt="calls" />
          <b>Videollamadas sin interrupciones</b>
        </div>
      </div>
      <div class="right-pattern">
        <div class="video rounded-shadow"></div>
      </div>
    </div>
  </div>
</section>
