// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define your theme with color palettes, typography and density

$mat-theme-primary-palette: map-merge(mat.$cyan-palette, ( 501: #019df4,201: #c2e7fc,701: #019df4,601: #0183cb,));
$mat-theme-primary: mat.define-palette(
  $mat-theme-primary-palette,
  $default: 501,
  $lighter: 201,
  $darker: 701,
  $text: 601
);

$mat-theme-accent-palette: map-merge(mat.$teal-palette, ( 501: #0b2739,201: #b0e0ff,701: #62c2ff,601: #005891,));
$mat-theme-accent: mat.define-palette(
  $mat-theme-accent-palette,
  $default: 501,
  $lighter: 201,
  $darker: 701,
  $text: 601
);

$mat-theme-warn-palette: map-merge(mat.$pink-palette, ( ));
$mat-theme-warn: mat.define-palette(
  $mat-theme-warn-palette,
  $default: A200,
  $lighter: 500,
  $darker: 500,
  $text: A700
);

$mat-dark-theme-primary-palette: map-merge(mat.$lime-palette, ( contrast: (200: #fff,A100: rgba(0,0,0, 0.87),A700: rgba(0,0,0, 0.87),)));
$mat-dark-theme-primary: mat.define-palette(
  $mat-dark-theme-primary-palette,
  $default: 200,
  $lighter: A100,
  $darker: A700,
  $text: 700
);

$mat-dark-theme-accent-palette: map-merge(mat.$green-palette, ( contrast: (A200: black,50: black,A400: black,)));
$mat-dark-theme-accent: mat.define-palette(
  $mat-dark-theme-accent-palette,
  $default: A200,
  $lighter: 50,
  $darker: A400,
  $text: A100
);

$mat-dark-theme-warn-palette: map-merge(mat.$pink-palette, ( contrast: (A100: black,100: white,)));
$mat-dark-theme-warn: mat.define-palette(
  $mat-dark-theme-warn-palette,
  $default: A100,
  $lighter: 100,
  $darker: A700,
  $text: 100
);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Rubik:wght@500&display=swap');

$mat-typography: mat.define-typography-config(
  $font-family: 'Open Sans',
  $headline-5:     mat.define-typography-level($font-size: 24px, $font-weight: regular, $font-family: Open Sans),
  $headline-4:     mat.define-typography-level($font-size: 96px, $font-weight: regular, $font-family: Open Sans),
  $headline-3:     mat.define-typography-level($font-size: 60px, $font-weight: 500, $font-family: Rubik),
  $headline-2:     mat.define-typography-level($font-size: 48px, $font-weight: 500, $font-family: Rubik),
  $headline-1:     mat.define-typography-level($font-size: 34px, $font-weight: 500, $font-family: Rubik),
  /*$title:         mat.define-typography-level($font-size: 20px, $font-weight: 500, $font-family: Rubik),
  $mat-subtitle-1:  mat.define-typography-level($font-size: 18px, $font-weight: 500, $font-family: Rubik),
  /*$subheading-1:  mat.define-typography-level($font-size: 20px, $font-weight: 500, $font-family: Rubik),*/
  /*$mat-body:        mat.define-typography-level($font-size: 16px, $font-weight: 400, $font-family: Rubik),*/
  /*$body-1:        mat.define-typography-level($font-size: 18px, $font-weight: 400, $font-family: Rubik),*/
  /*$mat-caption:       mat.define-typography-level($font-size: 16px, $font-weight: Medium, $font-family: Rubik),*/
  /*$button:        mat.define-typography-level($font-size: 16px, $font-weight: 500, $font-family: Rubik),*/
  // Line-height must be unit-less fraction of the font-size.
  /*$input:         mat.define-typography-level($font-size: inherit, $line-height: 1.125, $font-weight: 500, $font-family: Rubik),*/
);

$mat-density: 0;
// @include mat.elevation(
//   $zValue: 12,
//   $color: #000,
//   $opacity: 0.5
// );

$mat-core-theme: mat.define-light-theme((
  color: (
    primary: $mat-theme-primary,
    accent: $mat-theme-accent,
    warn: $mat-theme-warn
  ),
  typography: $mat-typography,
  density: $mat-density
));

$mat-dark-theme: mat.define-dark-theme((
  color: (
    primary: $mat-dark-theme-primary,
    accent: $mat-dark-theme-accent,
    warn: $mat-dark-theme-warn,
  )
));

@include mat.all-component-themes($mat-core-theme);

.dark-theme {
  @include mat.all-component-colors($mat-dark-theme);
}

/* You can add global styles to this file, and also import other style files */
button.mat-primary{
  color:#fff
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.95rem;
  letter-spacing: 0.1px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 80%;
}
a {
  cursor: pointer;
}
sub {
  bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
b {
  letter-spacing: 0.5px;
}
ul,
li {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
}

.small-padding-y {
  padding-top: 10px;
  padding-bottom: 10px;
}

.small-padding-x {
  padding-left: 10px;
  padding-right: 10px;
}

.medium-padding-y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.medium-padding-x {
  padding-left: 20px;
  padding-right: 20px;
}

.big-padding-y {
  padding-top: 40px;
  padding-bottom: 40px;
}

.big-padding-x {
  padding-left: 40px;
  padding-right: 40px;
}

/**** margin ***/

.small-margin-y {
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-margin-x {
  margin-left: 10px;
  margin-right: 10px;
}

.medium-margin-y {
  margin-top: 20px;
  margin-bottom: 20px;
}

.medium-margin-x {
  margin-left: 20px;
  margin-right: 20px;
}

.big-margin-y {
  margin-top: 40px;
  margin-bottom: 40px;
}

.big-margin-x {
  margin-left: 40px;
  margin-right: 40px;
}

/*** end margin ***/

.d-flex {
  display: flex;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.smallGap {
  gap: 10px;
}

.mediumGap {
  gap: 20px;
}

.bigGap {
  gap: 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.icon-end {
  flex-direction: row-reverse;
  .mat-icon {
    margin-right: 0 !important;
    margin-left: 8px !important;
  }
}

.bold {
  font-weight: bold;
}

.rounded-shadow {
  border-radius: 15px !important;
  -webkit-box-shadow: 0px 7px 21px 2px rgba(216, 219, 219, 1);
  -moz-box-shadow: 0px 7px 21px 2px rgba(216, 219, 219, 1);
  box-shadow: 0px 7px 21px 2px rgba(216, 219, 219, 1);
}

.bg-second {
  background-color: #f6f6f6;
}

.help-container{
  width: 90%;
  @media(min-width:992px){
    max-width: 87%;
  }
  @media(max-width: 991px){
    gap: 10px !important;
    padding: 10px !important;
  }
  img{
    width: 50px
  }
  .item-help{
    font-size: .8rem;
    flex: auto;
    box-sizing: border-box;
    text-align: center;
    width: 46%;
    @media(min-width: 992px){
      width: 23%;
      flex: 1 1 auto;
      font-size: .9rem;
    }
  }
}

.flex-wrap-xs {
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}
